{% extends 'base.html.twig' %}

{% block title 'Asso. Joueurs de Noblat'%}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur le site </br> DES JOUEURS DE NOBLAT </h1>

        <p class='mt-4'>
            
            Ce site est purement informatif et vous invite à venir nous rencontrer afin d'échanger, découvrir, partager, discuter sur l'univers des jeux de société.</br>

            Ici vous pourrez trouver les jeux possédés par le club, nous sommes ouverts à tout autre suggestion en apportant vos propres jeux.</br>

            Il vous est possible de rejoindre et d'adhérer au club (en face de la collégiale) à cette adresse : 3 rue Gay Lussac 87400 Saint Léonard De Noblat</br>

            Soyez le bienvenue tous les vendredis soirs et le premier dimanche après-midi du mois.</br>

            Pour devenir adhérent, <strong> la première soirée découverte est gratuite </strong>.</br>
            
            Pour devenir membre une participation annuelle de 15€ vous sera demandé, afin de d'étoffer notre catalogue de jeux.</br> 

            </br>

            Quel que soit votre âge ou quel que soit votre connaissance aux jeux de plateau, nous serons là pour vous aider et vous guider à chaque partie.</br>

            Nous ne vous mangerons pas à moins que les règles du jeu disent le contraire.</br>

            A très bientôt au tour d'une table de jeu.</br>

            Et n'oubliez pas que seul un aventurier au cœur pur trouvera la quête qui lui correspond ...🙂 🙂 🙂
            
        </p>
       

    </div>

    <div class="container">

            <div id="slider">
            <button class="prev sliderbutton">&lt;</button>
            <button class="next sliderbutton">&gt;</button>
            <div class="slide">
                <img src="assets/img/79811081_Slider1.jpg" alt="Une belle image" />
                <h1>Bienvenue sur mon slide !</h1>
                <p>
                    C'est moi qui l'ai fait tout seul, avec mes p'tits doigts et mon
                    gros cerveau…
                </p>
            </div>
            <div class="slide">
                <img src="assets/img/86807895_Slider2.jpg" alt="Une belle image aussi" />
                <h2>Vous trouvez pas qu'il est hyper classe ?</h2>
                <p>
                    Non sans dec', vous trouvez pas ? Parce que moi, je le trouve
                    vraiment hyper classe.
                </p>
            </div>
            <div class="slide">
                <img src="assets/img/79547497_Slider 3.jpg" alt="Une image moins belle mais pas mal quand même" />
                <h2>Ou classe ? Ou pas ? Hein ?</h2>
                <p>
                    Bah, vous y connaissez rien toute façon. Faisez-en des diaporamas,
                    on verra bien…
                </p>
            </div>
        </div>
    </div>

    <div class="container my-5" >
        <h2>Les derniers jeux</h2>
        <div class="row flex">
        {% for jeux in jeux %}
            <div class="col-4 ">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">
                    <a class="text-primary" style="font-weight: bold;font-size: 2rem;" href="{{ path('jeux.show', {id: jeux.id, slug: jeux.slug}) }}">{{ jeux.title }}</a>
                </h5>
                <p class="card-text">Age mini:{{ jeux.agemini }} </br> Durée:({{ jeux.timegame }})min</p>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
        $('.carousel').carousel({
        interval: 2000
        })
        });
    </script>
{% endblock %}