{% extends 'base.html.twig' %}

{% block title 'Asso. Joueurs de Noblat'%}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur le site </br>
        DES JOUEURS DE NOBLAT</h1>

        <p class='mt-4'>ce site est purment informatif il vous incombera la tache de vous faire votre propre ideee en vennant nous rencontré </br>
        ici vous pourez trouver les jeux posseder par le club et vous pourrez ainsi prevoir a l avance a quel jeux vous allez jouer </br>
        il vous est possible de rejoindre le club sitier 3 rue gay lussac a saint leonard de noblat </br>
        et cce tout les vendredi et le premier dimanche apres midi du mois </br>
        pour tout ceux qui ne serai pas encor inscrit la premiere soiree de decouvrete est gratuite </br>
        quelque soit votre age ou quelque soit votre habiliter au jeux de plateau nous serons la pour vous aider et vous guider a chaque partie </br>
        nous ne vous mangerons pas a moin que les regle du jeu dise le contraire a tres bientot au tour d une table de jeu </br>
        et n'oublier pas que seul un aventurier au coeur pur trouvra la quete qui lui correspond 
        <p>
    </div>

    <div class="container">
        <h2>Les derniers jeux</h2>
        <div class="row flex">
        {% for jeux in jeux %}
            <div class="col-4">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">
                    <a class="text-primary" style="font-weight: bold;font-size: 2rem;" href="{{ path('jeux.show', {id: jeux.id, slug: jeux.slug}) }}">{{ jeux.title }}</a>
                </h5>
                <p class="card-text">Age mini:{{ jeux.agemini }} </br> Durée:({{ jeux.timegame }})min</p>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}