{% extends 'base.html.twig' %}

{% block title 'Asso. Joueurs de Noblat'%}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur le site </br>
        DES JOUEURS DE NOBLAT</h1>

        <p class='mt-4'>ce site est purment informatif il vous incombera la tache de vous faire votre propre ideee en vennant nous rencontré </br>
        ici vous pourez trouver les jeux posseder par le club et vous pourrez ainsi prevoir a l avance a quel jeux vous allez jouer </br>
        il vous est possible de rejoindre le club sitier 3 rue gay lussac a saint leonard de noblat </br>
        et cce tout les vendredi et le premier dimanche apres midi du mois </br>
        pour tout ceux qui ne serai pas encor inscrit la premiere soiree de decouvrete est gratuite </br>
        quelque soit votre age ou quelque soit votre habiliter au jeux de plateau nous serons la pour vous aider et vous guider a chaque partie </br>
        nous ne vous mangerons pas a moin que les regle du jeu dise le contraire a tres bientot au tour d une table de jeu </br>
        et n'oublier pas que seul un aventurier au coeur pur trouvra la quete qui lui correspond 
        <p>
    </div>

    <div class="container">

            <div id="slider">
            <button class="prev sliderbutton">&lt;</button>
            <button class="next sliderbutton">&gt;</button>
            <div class="slide">
                <img src="assets/img/rock.jpg" alt="Une belle image" />
                <h1>Bienvenue sur mon slide !</h1>
                <p>
                    C'est moi qui l'ai fait tout seul, avec mes p'tits doigts et mon
                    gros cerveau…
                </p>
            </div>
            <div class="slide">
                <img src="assets/img/hotel.jpg" alt="Une belle image aussi" />
                <h2>Vous trouvez pas qu'il est hyper classe ?</h2>
                <p>
                    Non sans dec', vous trouvez pas ? Parce que moi, je le trouve
                    vraiment hyper classe.
                </p>
            </div>
            <div class="slide">
                <img src="assets/img/capture.png" alt="Une image moins belle mais pas mal quand même" />
                <h2>Ou classe ? Ou pas ? Hein ?</h2>
                <p>
                    Bah, vous y connaissez rien toute façon. Faisez-en des diaporamas,
                    on verra bien…
                </p>
            </div>
        </div>
    </div>

    <div class="container my-5" >
        <h2>Les derniers jeux</h2>
        <div class="row flex">
        {% for jeux in jeux %}
            <div class="col-4 ">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">
                    <a class="text-primary" style="font-weight: bold;font-size: 2rem;" href="{{ path('jeux.show', {id: jeux.id, slug: jeux.slug}) }}">{{ jeux.title }}</a>
                </h5>
                <p class="card-text">Age mini:{{ jeux.agemini }} </br> Durée:({{ jeux.timegame }})min</p>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
        $('.carousel').carousel({
        interval: 2000
        })
        });
    </script>
{% endblock %}