{% extends 'base.html.twig' %}

{% block title 'Tous les jeux'%}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur la homepage</h1>
        <p>wingardium leviosa</p>
    </div>
{% endblock %}